# macOS
.DS_Store

# Xcode
build/
DerivedData/
.DerivedData/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Archives
*.ipa
*.dSYM
*.dSYM.zip

# User-specific Xcode files
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3

# Playgrounds
timeline.xctimeline
playground.xcworkspace
