<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqm2h-MUKhNN2orQq58G8uIO67mXWlr7w</string>
	<key>GCM_SENDER_ID</key>
	<string>21586377913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hej.TaskFlow2026</string>
	<key>PROJECT_ID</key>
	<string>taskflow2026-e1afc</string>
	<key>STORAGE_BUCKET</key>
	<string>taskflow2026-e1afc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21586377913:ios:1acd7548d0256184fdaf68</string>
</dict>
</plist>